.fade-appear {
  opacity: 0;
  transform: translateY(10rem) scale(0.5);
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: all 0.5s;
}

.fade-appear-exiting {
  transform: scale(0.5);
}
